<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scau.mappers.TableNameMapper">

<select id="getTableName" resultType="java.util.LinkedHashMap" statementType="STATEMENT">
select TABLE_NAME  from INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA='sales_line'
</select>

<update id="alterTableName">
alter table ${originalName} rename ${newName}
</update>

</mapper>